# Core
/info/wp-admin/
/info/wp-content/index.php
/info/wp-content/languages
/info/wp-content/plugins/index.php
/info/wp-content/themes/index.php
/info/wp-includes/
/info/index.php
/info/license.txt
/info/readme.html
/info/wp-*.php
/info/xmlrpc.php

# Configuration
/info/wp-config.php

# Example themes
/info/wp-content/themes/twenty*/

/# Example plugin
/info/wp-content/plugins/hello.php

# Uploads
/info/wp-content/uploads/

# Log files
*.log

# htaccess
/info/.htaccess

# All plugins
#/info/wp-content/plugins

# All themes
#/info/wp-content/themes
